data/
*.bak
*.txt
*.xml
*.iml
*.bin
*.json
*.so
*.o
my_add.egg-info/
.vscode
.DS_Store
#.gitignore
.idea/
.DS_Store
__pycache__
venv/
#*.onnx
*.yaml
*.param
compiler_output/
*.bin
*.npy
#*.pth
Pocket_Lab/resnet34/
Pocket_Lab/resnet34*/
Pocket_Lab/resnet*/
