data/
*.bak
*.xml
*.iml
*.bin
*.json
*.so
*.o
*.out
my_add.egg-info/
.vscode
.DS_Store
#.gitignore
.idea/
.DS_Store
__pycache__
venv/
#*.onnx
*.yaml
*.onnx
*.param
compiler_output/
*.bin
*.npy
build/
#*.pth
Pocket_Lab/resnet34/
Pocket_Lab/resnet34*/
Pocket_Lab/resnet*/
*.cmake
*.check_cache
*.cmake
*.egg-info
*.egg
*.log
*.make
Makefile*
*.ts
*.marks
/Deploy/*
/NLP/**/*.txt
res.txt
